---
layout: default
---
<article class="page wrap">
  <h1>{{ page.title }}</h1>
  <div class="prose">{{ content }}</div>

  <ul class="post-list">
    {% for post in site.posts %}
    <li class="post-list-item">
      <a href="{{ post.url | relative_url }}">
        {% if post.image %}<span class="post-list-image" style="background-image: url('{{ post.image | relative_url }}');"></span>{% endif %}
        <span class="post-list-text">
          <span class="post-list-date">{{ post.date | date: "%-d %b %Y" }}</span>
          <span class="post-list-title">{{ post.title }}</span>
        </span>
      </a>
    </li>
    {% endfor %}
  </ul>
</article>
